
SeSAC_AI/2023년 강서구청장 보궐선거 예측분석/Project_영화리뷰기반모델/model.pt
Academy_KoreaIT/파이썬기반_AI_06_프로젝트/01._Covid_19/Covid19-dataset.zip
Academy_KoreaIT/파이썬기반_AI_06_프로젝트/02._Detection/DataSet/Detection.zip
Academy_KoreaIT/파이썬기반_AI_06_프로젝트/03._YOLO/trained_model/model_100.pth
Academy_KoreaIT/파이썬기반_AI_06_프로젝트/02._Detection/model_30.pth
Academy_KoreaIT/파이썬기반_AI_06_프로젝트/03._YOLO/DataSet/Detection.zip
SeSAC_AI/News Keyword 분석/20230815.pkl
SeSAC_AI/News Keyword 분석/20230817.pkl
SeSAC_AI/News Keyword 분석/20230819.pkl
SeSAC_AI/News Keyword 분석/20230820.pkl
SeSAC_AI/News Keyword 분석/20230821.pkl
